.flex-div {
    display: flex;
    height: 50px;
    background: red;
    width: 600px;
}

.flex-div .left {
    flex: 1;
}

.flex-div .right {
    width: 100px;
    background: yellow;
    opacity: 0.5;
}