/**
 * Created by zhangsanfeng on 2017/5/4.
 */
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微软雅黑", "Times New Roman", Georgia, Serif;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
input {
  outline: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-fix:after {
  display: table;
  content: '';
  clear: both;
}
