#css-content {
  border: 1px solid #ccc;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fff;
}
#css-content :global pre {
  background: #002b36;
  color: #dedede;
  overflow: auto;
  height: 100%;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}
#css-content :global pre * {
  -webkit-transition: all .3s;
  transition: all .3s;
}
#css-content :global pre .styles-wrap {
  padding: .5em;
  border: 1px solid;
  margin: .5em;
  overflow: auto;
  width: 45vw;
  height: 90vh;
}
#css-content :global pre .token.selector {
  color: #859900;
}
#css-content :global pre .token.property {
  color: #bb8900;
}
#css-content :global pre .token.punctuation {
  color: yellow;
}
#css-content :global pre .token.function {
  color: #2aa198;
}
#css-content .content {
  position: absolute;
  width: 0%;
  height: 100%;
  right: -100%;
  transition: right 0.6s, width 0.6s ease-in-out;
  overflow: auto;
  overflow-x: hidden;
}
#css-list {
  margin: 0 auto;
  width: 90%;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
}
#css-list li {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
#common-header {
  background-color: #e9203d;
  color: #fff;
  padding: 15px 10px;
  text-align: center;
  position: relative;
}
#common-header h1 {
  display: inline;
  font-size: 16px;
  line-height: 1;
  font-weight: 100;
}
#common-header .back-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 10px;
}
